<!-- Loggin Controller -->    
    <!-- Background Image -->
    <!--<div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-5"><h1>NFCVT</h1></div>
                <div class="col-md-12 col-md-offset-5"><button type="button" class="btn btn-success" ng-click="submitLoginInfo()" style="width: 30%"><span class="glyphicon glyphicon-user"></span> Register</button></div> 
            </div> 
        </div>
    </div>
</div>-->
    


    <a name="about"></a>
    <div class="intro-header">
        <div class="container">



            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>NFCVT</h1>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#/login" class="btn btn-success">Login</a>
                            </li>
                            <li>
                                <a href="#/register" class="btn btn-danger">Register</a>
    </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>What Is NFCVT ?</h1>
                <h3>We allow users to join, create and manage events. Tickets are distributed electronicaly and are utalised through NFC </h3>
            </div>
        </div><!-- /row -->
        
        <div class="row mt centered">
            <div class="col-lg-3">
                <img src="views/css/images/ser01.png" width="180" alt="">
                <h4>Events</h4>
                <p>By registering you will be able to obtain tickets to events near you</p>
            </div><!--/col-lg-4 -->

            <div class="col-lg-3">
                <img src="views/css/images/ser02.png" width="180" alt="">
                <h4>Utalise Tickets</h4>
                <p>Tickets are stored in electronic wallet and are utalised through mobile app when you arive to event</p>

            </div><!--/col-lg-4 -->

            <div class="col-lg-3">
                <img src="views/css/images/ser03.png" width="180" alt="">
                <h4>Create Events</h4>
                <p>Every registered user can also host their own event and distrubute tickets</p>

            </div><!--/col-lg-4 -->

            <div class="col-lg-3">
                <img src="views/css/images/ser04.png" width="180" alt="">
                <h4>Manage Events</h4>
                <p>Once you created event you can track every ticket related to it</p>

            </div><!--/col-lg-4 -->
        </div><!-- /row -->


    </div><!-- /container -->   
