<br>
<!-- Register Controller -->
<div ng-controller="registerCtrl">
    
    <!-- Registration Form -->
    <form action="/" id="myRegister">
        <input type="text" id="firstName" ng-model="firstName" placeholder="First Name"><br>
        <input type="text" id="lastName" ng-model="lastName" placeholder="Last Name"><br>
        <input type="text" id="username" ng-model="username" placeholder="Username"><br>
        <input type="password" id="password" ng-model="password" placeholder="Password"><br>
        <hr>
        <a href="#/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        <button class="btn btn-success" ng-click="submitRegisterInfo()"><span class="glyphicon glyphicon-pencil"></span> Submit</button>
    </form>
    
</div>