<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/" id="logo-container" class="brand-logo">NFCVT</a>
            </div>
        </div>

    </nav>
</div>

<div class="container">
<div ng-controller="loginCtrl">

<div class="row" style="padding-top: 5%; ">

<form class="col s12">
      <div class="row">

        <!-- Email Input Field -->
        <div class="input-field col s8 offset-s2">
             <input type="text" id="code" ng-model="code">
             <label for="username">Activation Code Here</label>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="input-field col col s8 offset-s2">
                <button class="btn waves-effect waves-light orange" type="submit" style="display: block; width: 100%;" ng-click="activateAcount()">Request Entry</button>
            </div>
        </div>

    </form>
    </div>


</div>
</div>