<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/" id="logo-container" class="brand-logo">NFCVT</a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
<!-- Register Controller -->
<div ng-controller="loginCtrl">
<div class="row" style="padding-top: 5%; ">
 
    <form class="col s12" id="myLogin">
      <div class="row">

        <!-- Email Input Field -->
        <div class="input-field col s6 offset-s3">
             <input type="text" id="username" ng-model="username">
             <label for="username">Email</label>
        </div>

        <!-- Password Input Field -->
        <div class="input-field col s6 offset-s3">
            <input type="password" id="password" ng-model="password">
            <label for="password">Password</label>
        </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="input-field col col s6 offset-s3">
                <button class="btn waves-effect waves-light" type="submit" style="display: block; width: 100%;" ng-click="submitLoginInfo()">Login</button>
            </div>
        </div>

    </form>
        
</div>
</div>