<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><b>NFCVT | Login</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- Register Controller -->
<div ng-controller="loginCtrl">
<div id="footerwrap">
        <div class="container">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 text-center">
                <h3>NFCVT Login</h3>
                <br>
                <form role="form" id="myLogin"> 
                  <div class="form-group">
                    <input type="text" id="username" ng-model="username" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" ng-model="password" class="form-control" placeholder="Password">
                  </div>
                  <hr>
                  <button type="submit" class="btn btn-large btn-success" style="width:100%" ng-click="submitLoginInfo()">LOGIN</button>
                </form>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>

    <div id="c">
        <div class="container">
            <p>Made By Daniel Rejniak</p>
        
        </div>
    </div>
</div>