<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">NFCVT</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">About</a></li>
                    <li><a href="#work">Benefits</a></li>
                    <li><a href="#team">Feedback</a></li>
                    <li><a class="teal-text text-accent-2" href="#/login">Login</a></li>
                    <li><a class="red-text text-accent-2" href="#/register">Register</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">Service</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="https://github.com/joashp/material-design-template" target="_blank">Download</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>NFCVT</span> 
            
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">What Is NFCVT ?</h2>
            </div>

            <div  class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Events</h5>
                    <p class="light center">By registering you will be able to obtain tickets to events near you</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Utalise Events</h5>
                    <p class="light center">Tickets are stored in electronic wallet and are utalised through mobile app when you arive to event</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Create Events</h5>
                    <p class="light center">Every registered user can also host their own event and distrubute tickets</p>
                </div>
            </div>

            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Manage Events</h5>
                    <p class="light center">Once you created event you can track every ticket related to it</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Benefits</h2>
            </div>

            <div  class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Events</h5>
                    <p class="light center">By registering you will be able to obtain tickets to events near you</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Utalise Events</h5>
                    <p class="light center">Tickets are stored in electronic wallet and are utalised through mobile app when you arive to event</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Create Events</h5>
                    <p class="light center">Every registered user can also host their own event and distrubute tickets</p>
                </div>
            </div>

            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Manage Events</h5>
                    <p class="light center">Once you created event you can track every ticket related to it</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="feedbackCtrl">
<!--Footer-->
<footer id="contact" class="page-footer blue-grey darken-2 scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col s12">
                <form class="col s12" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input type="text" id="name" ng-model="name" class="validate white-text">
                            <label for="icon_prefix" class="white-text">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input type="text" id="email" ng-model="email">
                            <label for="icon_email" class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="message" ng-model="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col s12">
                            <button class="btn waves-effect waves-light red darken-1" style="width:100%"type="submit" ng-click="submitFeedback()">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3">
        <div class="container">
            Made by <a class="white-text" href="http://joashpereira.com">Daniel Rejniak</a><a class="white-text" href="http://materializecss.com/"></a>
        </div>
    </div>
</footer>
</div>