<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">NFCVT</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="teal-text text-accent-2" href="#/login">Login</a></li>
                    <li><a class="red-text text-accent-2" href="#/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center">
            <span> <i class="large material-icons">loyalty</i></span><span>NFCVT</span>
        </h1>

    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">What Is NFCVT ?</h2>
                <hr>
                <br>
            </div>

            <div  class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <img class="responsive-img" src="css/img/calendar.png">
                    <h5 class="promo-caption">Events</h5>
                    <p class="light center">Brows through events near you and around the world to obtain electronic tickets</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <img class="responsive-img" src="css/img/utalise.png">
                    <h5 class="promo-caption">Tickets</h5>
                    <p class="light center">Tickets are utalised through mobile app using the NFC technology</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <img class="responsive-img" src="css/img/make.png">
                    <h5 class="promo-caption">Host Events</h5>
                    <p class="light center">Every registered user can also host their own event and distrubute tickets</p>
                </div>
            </div>

            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <img class="responsive-img" src="css/img/settings.png">
                    <h5 class="promo-caption">Manage Events</h5>
                    <p class="light center">Once you created event you can dynamicaly manage every ticket and every guesst</p>
                </div>
            </div>
        </div>
        <row class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Features</h2>
                <hr>
                <br>
            </div>
        </row>

        <br>
        <div class="row">
            
            <div class="col s8">
                <h5>Minimalistic Design</h5>
                <p>Materializecss is the styling framework powering the website. All the ui interacions are designed with minimal room consumption but with maximum functionality. Once logged in take advantage of the smart search that allow you to filter out any event</p>
            </div>
            <div class="col s4">
                <img class="responsive-img" src="css/img/design.png">
            </div>
        </div>
        <br>
        <div class="row">
            
            <div class="col s4">
                <img class="responsive-img" src="css/img/phone.png">
            </div>
            <div class="col s8">
                <h5>Electronic Tickets</h5>
                <p>NFCVT platorm emphaisises on virtuaisation. All tickes obtained on NFCVT are stored in virtual wallet and later utalised through mobile app. </p>
            </div>
        </div>
        <br>
        <div class="row">
            
            <div class="col s8">
                <h5>Security</h5>
                <p>When tickts are traditionaly validated by hand mistakes occour making its unsecure and mistake are likely to occour. All NFCVT validation is performed by the system, this enables to implement high security standars.</p>
            </div>
            <div class="col s4">
                <img class="responsive-img" src="css/img/security.png">
            </div>
        </div>
        <br>
        <div class="row">
            
            <div class="col s4">
                <img class="responsive-img" src="css/img/dynamic.png">
            </div>
            <div class="col s8">
                <h5>Dynamic Managment</h5>
                <p>NFCVT also gives you an ability to host your own events. This means that you can allow other users to obtain electronic tickets for your event. As an organiser you will have acces to your admin panel from where you will be able fully control your event. Event information will be dynamicaly updated as users check in to the event. </p>
            </div>
        </div>
        <br>
        <div class="row">
            
            <div class="col s8">
                <h5>No Hardware</h5>
                <p>Huge advantage of NFCVT is that no additional hardware is required. As a user you use your mobile device to utalise tickets and as an organiser you also use your mobile device to scann tickets. No more traditional barcode scanners required or other devices</p>
            </div>
            <div class="col s4">
                <img class="responsive-img" src="css/img/cross.png">
            </div>
        </div>

        <row class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">App Quide</h2>
                <hr>
                <br>
            </div>
            <div class="col s4" style="width:50%">
            <div class="card light-blue darken-3" >
            <div class="card-content white-text">
              <span class="card-title">Login</span>
              <p>Login to the app with the credentials that you have previously used to register for NFCVT</p>
            </div>
          </div>
            </div>
            <div class="col s4" style="width:50%">
            <div class="card light-blue darken-3" >
            <div class="card-content white-text">
              <span class="card-title">Select Ticket</span>
              <p>Once you have obtained ticket navigate to "My Tickets" and select the ticket for the event</p>
            </div>
          </div>
            </div>
            <div class="col s4" style="width:50%">
            <div class="card light-blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Tap To Checkin</span>
              <p>Once ticket is selected simply touch your device of the organisers device to check in your virtual ticket. System verifies the ticekt and acces is granted</p>
            </div>
          </div>
            </div>
            <div class="col s4" style="width:50%">
            <div class="card light-blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Get App Here</span>
              <button class="btn waves-effect waves-light red darken-1" style="width:100%"type="submit" ng-click="submitFeedback()">Download App
                                <i class="mdi-content-send right white-text"></i>
                            </button>
            </div>
          </div>
            </div>
        </row>

        <row class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Feedback</h2>
                <hr>
                <br>
            </div>
            <div class="col s12">
                <p>Please use the form bellow for any questions or feedback, I would greatly appriciate your opinion of the user experiance you had at NFCVT. My Linkedin profiles is provided in the right hand corner of the footer</p>
            </div>
        </row>
        <br>
        </div>
    </div>
</div>



<div ng-controller="feedbackCtrl">
<!--Footer-->
<footer id="contact" class="page-footer blue-grey darken-2 scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col s12">
                <form class="col s12" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input type="text" id="name" ng-model="name" class="validate white-text">
                            <label for="icon_prefix" class="white-text">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input type="text" id="email" ng-model="email">
                            <label for="icon_email" class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="message" ng-model="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col s12">
                            <button class="btn waves-effect waves-light red darken-1" style="width:100%"type="submit" ng-click="submitFeedback()">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3">
        <div class="container">
            Made by <a class="white-text" href="http://joashpereira.com">Daniel Rejniak</a>
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">My Linkedin</a>
        </div>
    </div>
</footer>
</div>