<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/" id="logo-container" class="brand-logo">NFCVT</a>
            </div>
        </div>
    </nav>
</div>

<div class="container">

<!-- Register Controller -->
<div ng-controller="registerCtrl">
<div class="row" style="padding-top: 5%; ">
 
    <form class="col s12" id="myRegister">
      <div class="row">

        <!-- Firstname Input Field -->
        <div class="input-field col s6 offset-s3">
            <input type="text" id="firstName" ng-model="firstName">
            <label for="text">Firstname</label>
        </div>

        <!-- Lastname Input Field -->
        <div class="input-field col s6 offset-s3">
            <input type="text" id="lastName" ng-model="lastName">
            <label for="text">Surename</label>
        </div>

        <!-- Password Input Field -->
        <div class="input-field col s6 offset-s3">
            <input type="password" id="password" ng-model="password">
            <label for="password">Password</label>
        </div>

        <!-- Password Confirm Input Field -->
        <div class="input-field col s6 offset-s3">
            <input type="password" id="password_confirm" ng-model="password_confirm">
            <label for="password">Password Confirm</label>
        </div>

        <!-- Email Input Field -->
        <div class="input-field col s6 offset-s3">
            <input type="text" id="username" ng-model="username">
            <label for="email">Email</label>
        </div>

        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="input-field col col s6 offset-s3">
                <button class="btn waves-effect waves-light" style="display: block; width: 100%;" ng-click="submitRegisterInfo()">Register</button>
            </div>
        </div>

    </form>
        
</div>
</div>

<div class="fixed-action-btn vertical modal-trigger">
    <a class="btn-floating btn-large red">
      <i class="material-icons" onclick="Materialize.toast('Registering is free. To register you need to supply us with your valid personal information and email address', 4000)">help</i>
    </a>
  </div>


</div>