<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>NFCVT | Message Viewer</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><strong>Logout</strong></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
<div ng-controller="adminInboxCtrl">
<br>
<a href="#/dashboard" class="btn btn-danger"><span class="glyphicon glyphicon-menu-left"></span> Bact To Dashboard</a>
<hr>
<div class="alert alert-info">
        <strong>From : </strong>{{currentAdminMessage.eventOrganiser}}<br>
        <strong>About : </strong> {{currentAdminMessage.eventName}}<hr>
        <strong>Message</strong><br><br>
        {{currentAdminMessage.message}}
        <br>
</div>
<hr>
    <h2>Reply</h2>
    <hr>
    <input type="text" id="adminMessage" ng-model="adminMessage" placeholder="Message Here" style="width: 100%">
    <hr>
    <button type="submit" class="btn btn-success" ng-click="sendAdminMessage()" style="width: 100%"><span class="glyphicon glyphicon-save-file"></span>Reply</button>
</div>
</div>