<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
            <ul class="right hide-on-med-and-down">

                    <li><a class="red-text text-darken-2" href="#/">
                        <i class="material-icons left">settings_power</i>Logout</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</div>


<div class="container">
        <div ng-controller="controlPannelCtrl">
        <!-- <br>
        <a href="#/dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
        <a href="#/create_event_pannel" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create Event</a>
        <a href="#/inbox_message" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Messages</a>
        <hr> -->  

        <!-- Total Events -->
        <div class="row">

          <div class="col s4">
            <div class="card-panel light-blue darken-3">
              <span class="white-text">
              <h5>Created Events</h5>
              <hr>
              <h5>{{test}}</h5>
              </span>
            </div>
          </div>

          <div class="col s4">
            <div class="card-panel light-blue darken-3">
              <span class="white-text">
              <h5>Active Events</h5>
              <hr>
              <h5>{{test1}}</h5>
              </span>
            </div>
          </div>

           <div href="#/inbox_message" class="col s4">
            <div class="card-panel light-blue darken-3">
              <span class="white-text">
              <h5>Notifications</h5>
              <hr>
              <h5>{{test2}}</h5>
              </span>
            </div>
          </div>

        </div>

        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Tickets Sold</th>
                    <th>Checked In</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="eventInfo in events track by $index">
                <tr>
                    <td>{{eventInfo.eventName}}</td>
                    <td>{{eventInfo.eventLocationCountry}}, {{eventInfo.eventLocationArea}}</td>
                    <td><strong>{{eventInfo.eventActivation}}</strong></td>
                    <td>26/05/2016</td>
                    <td>{{eventInfo.eventAttendance}}/{{eventInfo.eventAvailableTickets}}</td>
                    <td>{{eventInfo.eventCheckedInCount}}/{{eventInfo.eventAvailableTickets}}</td>
                    <td class="right-align"><a class="btn btn-success" ng-click="manageEvent($index)">Manage</a></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>