<div ng-controller="navBarCtrl">
<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
                <ul class="right hide-on-med-and-down">
                <li><a ng-click="settings()"><i class="material-icons">settings</i></a></li>
                <li><a ng-click="virtualWallet()"><i class="material-icons">shopping_cart</i></a></li>
        <li><a ng-click="userInbox()"><i class="material-icons">message</i></a></li>
        <li><a ng-click="destroyUserSession()"><i class="material-icons">power_settings_new</i></a></li>

      </ul>
            </div>
        </div>

    </nav>
</div>
</div>



<div class="container">
        <div ng-controller="controlPannelCtrl">

          
        <!-- <br>
        <a href="#/dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
        <a href="#/create_event_pannel" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create Event</a>
        <a href="#/inbox_message" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Messages</a>
        <hr> -->  

        <!-- Total Events -->
        <div class="row">

          <div class="col s4">
              <h2 class="center header text_h2">{{test}}</h2>
              <hr>
              <h3 class="center header text_h2">Created</h3>
              
          </div>

          <div class="col s4">
                <h2 class="center header text_h2">{{test1}}</h2>
                <hr>
                <h3 class="center header text_h2">Active</h3>
          </div>

           <div class="col s4">
            <h2 class="center header text_h2">{{test2}}</h2>
                <hr>
                <h3 class="center header text_h2">Messages</h3>
          </div>

        </div>

        

        <ul class="collection" ng-repeat="eventInfo in events track by $index">
    <li class="collection-item avatar">
      <img ng-src="{{eventInfo.eventImageUrl}}" alt="" class="circle">
      <span class="title">{{eventInfo.eventName}}</span>
      <p>{{eventInfo.eventDate}} <br>
         {{eventInfo.eventLocationCountry}}, {{eventInfo.eventLocationArea}} <br>
         Amount Of Tickets : {{eventInfo.eventAvailableTickets}}
      </p>
      <a ng-click="manageEvent($index)" class="secondary-content"><i class="material-icons">settings</i></a>
    </li>
    <ul>




    </div>

    <div class="fixed-action-btn vertical click-to-toggle">
    <a class="btn-floating btn-large red" href="#/create_event_pannel">
      <i class="material-icons">add</i>
    </a>
  </div>

</div>