<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>NFCVT | Admin Control Pannel</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><strong>Logout</strong></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">
        <div ng-controller="controlPannelCtrl">
        <br>
        <a href="#/dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Back</a>
        <a href="#/create_event_pannel" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create Event</a>
        <hr>

        <!-- Total Events -->
         <div class="col-xs-6 col-md-3">  
            <div class="panel status panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">Created Events</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>{{test}}</strong>
                </div>
            </div>
        </div>

        <!-- Crrently Active Events -->
         <div class="col-xs-6 col-md-3">  
            <div class="panel status panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">Active Events</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>0</strong>
                </div>
            </div>
        </div>

        <!-- Messages -->
         <div class="col-xs-6 col-md-3">  
            <div class="panel status panel-warning">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">Messages</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>0</strong>
                </div>
            </div>
        </div>

        <!-- Reports -->
         <div class="col-xs-6 col-md-3">  
            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">Reoprts</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>10</strong>
                </div>
            </div>
        </div>
       
        <h2>My Events</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Attendance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="eventInfo in events track by $index">
                <tr>
                    <td>{{eventInfo.eventName}}</td>
                    <td>{{eventInfo.eventLocation}}</td>
                    <td>Not Active</td>
                    <td>0/10</td>
                    <td><a class="btn btn-default" ng-click="manageEvent($index)">Manage</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>