<br>
<h1>Admin Event Creator Pannel</h1>
<hr>

<!-- Event Creator Controller -->
<div ng-controller="registerCtrl">
    
    <!-- Registration Form -->
    <form action="/" id="myRegister">
        <input type="text" id="event_name" ng-model="event_name" placeholder="Event Name" style="width: 40%"><br>
        <input type="text" id="event_location" ng-model="event_location" placeholder="Event Location" style="width: 40%"><br>
        <input type="text" id="event_date" ng-model="event_date" placeholder="Event Data" style="width: 40%"><br>
        <input type="text" id="event_available_tickets" ng-model="event_available_tickets" placeholder="Amount Of Tickets" style="width: 40%"><br>
        <textarea class="form-control" rows="5" id="comment" style="width: 40%" placeholder="Event Description"></textarea>
        <hr>
        <a href="#/control_pannel" class="btn btn-primary">Back</a>
        <button class="btn btn-success" ng-click="submitRegisterInfo()" style="width: 20%"><span class="glyphicon glyphicon-save-file"></span> Submit Event</button>
    </form>
    
</div>
