<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>NFCVT | {{eventViewInfo.eventName}} - Contact Organiser</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><strong>Logout</strong></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
<div ng-controller="eventViewerCtrl">
<br>
<a href="#/eventViewer" class="btn btn-danger"><span class="glyphicon glyphicon-menu-left"></span> Bact To Event</a>
<hr>
<div class="alert alert-info">
        <strong>Note</strong> This message will be delivered to organiser resposnible for <strong>{{eventViewInfo.eventName}} .</strong>The organiser will contact you soon regarding your query. Thanks you
</div>
<hr>
	<input type="text" id="eventMessage" ng-model="eventMessage" placeholder="Message Here" style="width: 50%">
    <hr>
    <button type="submit" class="btn btn-success" ng-click="sendUserMessage()" style="width: 50%"><span class="glyphicon glyphicon-save-file"></span> Send Message</button>
<hr>

</div>
</div>