<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>NFCVT | Create Event</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><strong>Logout</strong></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">
<br>

<!-- Event Creator Controller -->
<div ng-controller="eventCreatorCtrl">
    
    <!-- Registration Form -->
    <form id="myRegister">
        <input type="text" id="eventName" ng-model="eventName" placeholder="Event Name" style="width: 40%"><br>
        <input type="text" id="eventLocation" ng-model="eventLocation" placeholder="Event Location" style="width: 40%"><br>
        <input type="text" id="eventDate" ng-model="eventDate" placeholder="Event Data" style="width: 40%"><br>
        <input type="text" id="eventAvailableTickets" ng-model="eventAvailableTickets" placeholder="Amount Of Tickets" style="width: 40%"><br>
        <input type="text" id="eventDescription" ng-model="eventDescription" placeholder="Description" style="width: 40%"><br>

        <label for="sel1">By Default Set To </label>
        <select class="form-control" id="sel1">
            <option>Inactive (Recomended)</option>
            <option>Active</option>
        </select>

        <hr>
        
        <a href="#/control_pannel" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success" ng-click="createEvent()" style="width: 20%"><span class="glyphicon glyphicon-save-file"></span> Submit Event</button>
    </form>
    
</div>
</div>
