<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
            <ul class="right hide-on-med-and-down">

                    <li><a class="red-text text-darken-2" href="#/">
                        <i class="material-icons left">settings_power</i>Logout</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</div>


<div class="container">
<div ng-controller="eventViewerCtrl">

<br>
<div class="row">
    <div class="col s12">
        <div class="card-panel teal">
            <span class="white-text">Note. There is no need to supply your personal information and event name. All your personal inforamtion along with event your queryin will be feched and passed on to the organiser for easy communication.
          </span>
        </div>
    </div>
</div>
    <div class="input-field col s12">
          <textarea id="eventMessage" ng-model="eventMessage" class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
    </div>

    <button type="submit" class="btn btn-success" ng-click="sendMessage()" style="width: 100%"><span class="glyphicon glyphicon-save-file"></span>Send Message</button>

</div>
</div>