<br>

<div ng-controller="dashboardCtrl">
<h1>Welcome, {{userInfo.firstName}}</h1>
<hr>
<a href="#/" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span> Log Out</a>
<a href="#/control_pannel" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span> Control Pannel</a>
<a href="#/ticketWallet" class="btn btn-primary"><span class="glyphicon glyphicon-tags"></span>  Ticket Wallet</a>

<h1>Events In Your Area</h1>
<hr>
<div ng-repeat="eventInfo in events">
<strong>Event Name  :  </strong>{{eventInfo.eventName}} <strong>Location  :  </strong> {{eventInfo.eventLocation}}  <strong>Amount Of Tickets Left  :  </strong>{{eventInfo.eventAvailableTickets}} <a href="#/eventViewer" class="pull-right"><span class="glyphicon glyphicon-search"></span> View Event</a>
<hr>
</div>
</div>