<div ng-controller="dashboardCtrl">
<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>NFCVT | Welcome, {{userInfo.firstName}}</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><strong>Logout</strong></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
<br>
<a href="#/control_pannel" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>Event Manager Pannel</a>
<a href="#/ticketWallet" class="btn btn-primary"><span class="glyphicon glyphicon-tags"></span>  Ticket Wallet</a>
<a href="#/dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-tags"></span> Messages</a>

<h2>Events In Your Area</h2>
<hr>
<div ng-repeat="eventInfo in events track by $index">

<!-- Thumbnail To Hold The Event Info --> 
<div class="col-xs-18 col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="http://placehold.it/500x300" alt="">
        <div class="caption">
            <h4><strong>{{eventInfo.eventName}}</strong><p>{{eventInfo.eventLocation}}</p></h4>
            <h5>{{eventInfo.eventAvailableTickets - eventInfo.eventAttendance}} Tickets Left</h5>
            <p><a class="btn btn-success btn-xs" ng-click="findEvent($index)" role="button" style="width:100%">View</a></p>
        </div>
    </div>
</div>
</div>
</div>

</div>