<div class="container">
<div ng-controller="eventViewerCtrl">
<h1>Event : </h1>
<hr>
<a href="#/dashboard" class="btn btn-danger"><span class="glyphicon glyphicon-menu-left"></span> Bact To Dashboard</a>
<a href="#/dashboard" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Get Ticket</a>
<a href="#/dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Contact Organiser</a>

<h1>Event Info</h1>
<hr>
	<strong>Event Location : </strong> 
	<hr>
	<strong>Event Date : </strong>
	<hr>
	<strong>Event Organised By : </strong>
	<hr>
	<strong>Event Description </strong>
<hr>

</div>
</div>