<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
            <ul class="right hide-on-med-and-down">

                    <li><a class="red-text text-darken-2" href="#/">
                        <i class="material-icons left">settings_power</i>Logout</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</div>

<div class="container">
<div ng-controller="eventViewerCtrl">
<br>


<div class="row">
  <div class="col s4">
          <img class="responsive-img" ng-src="{{eventViewInfo.eventImageUrl}}">
  </div>
  <div class="col s8">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{eventViewInfo.eventName}} | {{eventViewInfo.eventLocationCountry}}, {{eventViewInfo.eventLocationArea}}</span>
              <p></p>
            </div>
            <div class="card-action">
              <a ng-click="getTicket()">Get Ticket</a>
              <a href="#/create_message">Contact Organiser</a>
            </div>
          </div>
  </div>
</div>
<hr>
        
<div class="row">
      <div class="col s12">
          <div class="card-panel">
            <span class="blue-text text-darken-2">
                <strong>Date : </strong>{{eventViewInfo.eventDate}}<br>
                <strong>Event Organised By : </strong>{{eventViewInfo.eventCreatedByFirstName}}, {{eventViewInfo.eventCreatedByLastName}}<br>
                <strong>Event Tickets Left : </strong> {{eventViewInfo.eventTickets}}<br>
                <strong>Description : </strong> {{eventViewInfo.eventDescription}}
            </span>
          </div>
      </div>      
</div>



</div>
</div>