<div class="container">
<div ng-controller="eventViewerCtrl">
<h2>Event : {{eventViewInfo.eventName}}</h2>
<hr>
<a href="#/dashboard" class="btn btn-danger"><span class="glyphicon glyphicon-menu-left"></span> Bact To Dashboard</a>
<button class="btn btn-success" ng-click="getTicket()"><span class="glyphicon glyphicon-shoping-cart"></span> Get Ticket</button>
<a href="#/dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Contact Organiser</a>

<h2>Event Info</h2>
<hr>
	<strong>Event Location : </strong>  {{eventViewInfo.eventLocation}} 
	<hr>
	<strong>Event Date : </strong> {{eventViewInfo.eventDate}}
	<hr>
	<strong>Event Organised By : </strong> {{eventViewInfo.eventCreatedBy}}
	<hr>
	<strong>Event Tickets Left : </strong> {{eventViewInfo.eventTickets}}
	<hr>
	<strong>Event Description </strong>
<hr>

</div>
</div>