<div ng-controller="navBarCtrl">
<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
                <ul class="right hide-on-med-and-down">
                <li><a ng-click="settings()"><i class="material-icons">settings</i></a></li>
                <li><a ng-click="virtualWallet()"><i class="material-icons">shopping_cart</i></a></li>
        <li><a ng-click="userInbox()"><i class="material-icons">message</i></a></li>
        <li><a ng-click="destroyUserSession()"><i class="material-icons">power_settings_new</i></a></li>

      </ul>
            </div>
        </div>

    </nav>
</div>
</div>

<div class="container">
<div ng-controller="adminInboxCtrl">
<br>
<a href="#/control_pannel" class="btn btn-danger"><span class="glyphicon glyphicon-menu-left"></span> Bact To Control Pannel</a>
<hr>
<div class="alert alert-info">
        <strong>Note</strong> Bellow are all the messages that have been sent to you by users regarding your events. 
</div>
<hr>
	<h2>Inbox</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>About</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="message in messages track by $index">
                <tr>
                    <td>{{message.firstNameFrom}}, {{message.lastNameFrom}}</td>
                    <td>{{message.eventName}}</td>
                    <td><a class="btn btn-danger" ng-click="removeAdminMessage($index)">Remove</a></td>
                    <td><a class="btn btn-success" ng-click="getAdminMessage($index)">View</a></td>
                </tr>
            </tbody>
        </table>
</div>
</div>