<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
            <ul class="right hide-on-med-and-down">

                    <li><a class="red-text text-darken-2" href="#/">
                        <i class="material-icons left">settings_power</i>Logout</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</div>

<div class="container">
  <div ng-controller="manageEventCtrl">
    
    <!-- Button Controll Row -->
    <div class="row">

      <div class="col s6">
        <div class="card-panel light-blue darken-3">
          <span class="white-text">
            <h5>Tickets Bought</h5>
            <hr>
            <h5>{{manageEventView.eventAttendance}}</h5>
          </span>
        </div>
      </div>

      <div class="col s6">
        <div class="card-panel light-blue darken-3">
          <span class="white-text">
            <h5>Checked In</h5>
            <hr>
            <h5>{{manageEventView.eventCheckedInCount}}</h5>
          </span>
        </div>
      </div>

    </div>
    <!-- End Of Button Control Row -->      
    
    <div class="row">
    <div class="col s4">
      <a class="waves-effect waves-light btn green" style="width:100%" ng-click="activateEvent()"><i class="material-icons left">done</i>Activate</a>
    </div>
      <div class="col s4">
      <a class="waves-effect waves-light btn" style="width:100%" ng-click="removeEvent()"><i class="material-icons left">delete</i>Remove</a>
    </div>
      <div class="col s4">
      <a class="waves-effect waves-light btn red" style="width:100%" ng-click="deactivateEvent()"><i class="material-icons left">https</i>Deactivate</a>
    </div>
      
    </div>
        
    <div class="row">
    <div class="col s12">
        <div class="card-panel teal">
            <span class="white-text">
                <h6 class="center-align">Guest List</h6>
          </span>
        </div>
    </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="ticket in tickets track by $index">
            <tr>
                <td>{{ticket.ticketOwnerFirstName}}</td>
                <td>{{ticket.ticketOwnerLastName}}</td>
                <td>{{ticket.ticketStatus}}</span></td>
                <td class="right-align"><a class="btn btn-danger red" ng-click="banUser($index)">Ban</a></td>
                <td class="right-align"><a class="btn btn-primary blue" ng-click="manualEntryForm(ticket)">Request Entry</a></td>
                <td class="right-align"><a class="btn btn-primary blue" ng-click="manualEntryForm(ticket)">Message</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

<div class="fixed-action-btn vertical click-to-toggle">
    <a class="btn-floating btn-large red" href="#/eventSettingsPannel">
      <i class="material-icons">settings</i>
    </a>
  </div>
</div>
