<div ng-controller="navBarCtrl">
<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
                <ul class="right hide-on-med-and-down">
                <li><a ng-click="settings()"><i class="material-icons">settings</i></a></li>
                <li><a ng-click="virtualWallet()"><i class="material-icons">shopping_cart</i></a></li>
        <li><a ng-click="userInbox()"><i class="material-icons">message</i></a></li>
        <li><a ng-click="destroyUserSession()"><i class="material-icons">power_settings_new</i></a></li>

      </ul>
            </div>
        </div>

    </nav>
</div>
</div>

<div class="container">
  <div ng-controller="manageEventCtrl">
    
    <!-- Button Controll Row -->
    <div class="row">

      <div class="col s6">
         <h2 class="center header text_h2">{{manageEventView.eventAttendance}}</h2>
              <hr>
              <h3 class="center header text_h2">Tickets Bought</h3>
      </div>

      <div class="col s6">
        <h2 class="center header text_h2">{{manageEventView.eventCheckedInCount}}</h2>
              <hr>
              <h3 class="center header text_h2">Checked In</h3>

      </div>

    </div>
    <!-- End Of Button Control Row -->      
    
    <div class="row">
    <div class="col s4">
      <a class="waves-effect waves-light btn green" style="width:100%" ng-click="activateEvent()"><i class="material-icons left">done</i>Activate</a>
    </div>
      <div class="col s4">
      <a class="waves-effect waves-light btn" style="width:100%" ng-click="removeEvent()"><i class="material-icons left">delete</i>Remove</a>
    </div>
      <div class="col s4">
      <a class="waves-effect waves-light btn red" style="width:100%" ng-click="deactivateEvent()"><i class="material-icons left">https</i>Deactivate</a>
    </div>
      
    </div>
        
    <div class="row">

    <div  class="col s12">
                <h2 class="center header text_h2">Guest List</h2>
                <hr>
                <br>
  </div> 

    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="ticket in tickets track by $index">
            <tr>
                <td>{{ticket.ticketOwnerFirstName}}</td>
                <td>{{ticket.ticketOwnerLastName}}</td>
                <td>{{ticket.ticketStatus}}</span></td>
                <td class="right-align"><a class="btn btn-danger red" ng-click="banUser($index)">Ban</a></td>
                <td class="right-align"><a class="btn btn-primary blue" ng-click="manualEntryForm(ticket)">Request Entry</a></td>
                <td class="right-align"><a class="btn btn-primary blue" ng-click="contactUser(ticket)">Message</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

<div class="fixed-action-btn vertical click-to-toggle">
    <a class="btn-floating btn-large red" href="#/eventSettingsPannel">
      <i class="material-icons">settings</i>
    </a>
  </div>
</div>
