<div ng-controller="navBarCtrl">
<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
                <ul class="right hide-on-med-and-down">
                <li><a ng-click="settings()"><i class="material-icons">settings</i></a></li>
                <li><a ng-click="virtualWallet()"><i class="material-icons">shopping_cart</i></a></li>
        <li><a ng-click="userInbox()"><i class="material-icons">message</i></a></li>
        <li><a ng-click="destroyUserSession()"><i class="material-icons">power_settings_new</i></a></li>

      </ul>
            </div>
        </div>

    </nav>
</div>
</div>

<div class="container">
<div ng-controller="manageEventCtrl">

<div class="row" style="padding-top: 5%; ">

<form class="col s12">
      <div class="row">

        <!-- Email Input Field -->
        <div class="input-field col s8 offset-s2">
             <input type="text" id="code" ng-model="code">
             <label for="username">Generated Number Here</label>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="input-field col col s8 offset-s2">
                <button class="btn waves-effect waves-light orange" type="submit" style="display: block; width: 100%;" ng-click="requestEntry()">Request Entry</button>
            </div>
        </div>

    </form>
    </div>


</div>
</div>