<!--Navigation-->
 <div class="navbar-fixed ">
    <nav id="nav_f" class="default_color blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/dashboard" id="logo-container" class="brand-logo">NFCVT</a>
            <ul class="right hide-on-med-and-down">

                    <li><a class="red-text text-darken-2" href="#/">
                        <i class="material-icons left">settings_power</i>Logout</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</div>

<div class="container">
<div ng-controller="userInboxCtrl">

        <table class="table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>About</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="message in messages track by $index">
                <tr>
                    <td>{{message.firstNameFrom}}, {{message.lastNameFrom}}</td>
                    <td>{{message.eventName}}</td>
                    <td><a class="btn btn-danger" ng-click="removeUserMessage($index)">Remove</a></td>
                    <td><a class="btn btn-success" ng-click="findUserMessage($index)">View</a></td>
                </tr>
            </tbody>
        </table>
</div>
</div>